/* Aplicar DM Serif Text */
body {
  background: #870000;
  background: -webkit-linear-gradient(to left, #190A05, #870000);
  background: linear-gradient(to left, #190A05, #870000);
  color: #f2f2f2;
  font-family: "DM Serif Text", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Título */
.titulo {
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

/* Formulario */
.formulario {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  width: 350px;
  margin: 0 auto;
  color: #f2f2f2;
}

/* Inputs y selects */
select, input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  background-color: #1a1a1a;
  border: 2px solid #d9d9d9;
  color: #f2f2f2;
  font-family: "DM Serif Text", serif;
}

select:focus, input:focus {
  outline: none;
  border-color: #ff0000;
  box-shadow: 0 0 10px #ff0000;
}

/* Botón RESERVAR en rojo */
.boton-reservar {
  background-color: #b30000;
  color: #f2f2f2;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DM Serif Text", serif;
  box-shadow: 0 0 10px #660000;
  transition: all 0.3s ease;
}

.boton-reservar:hover {
  background-color: #660000;
  box-shadow: 0 0 15px #b30000;
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: rgba(0,0,0,0.8);
  color: #d9d9d9;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  border-top: 3px solid #b30000;
}

footer span {
  color: #b30000;
  font-weight: bold;
}
